body{
    font-family: "Arial", Arial, sans-serif;
    /*"Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
#login{
    text-align: right;
    padding-right: 13px;
    padding-top: 8px;
}

#gradient{
    width:0;
    height:150px;
    margin:0 auto;
    border-radius:100%;
    -webkit-box-shadow: 0 50px 200px 150px rgba(255, 255, 255, 0.93);
    -moz-box-shadow: 0 50px 200px 150px rgba(255, 255, 255, 0.93);
    box-shadow: 0 50px 200px 150px rgba(255, 255, 255, 0.93);
}
.logo{
    display: block;
    margin: 0 auto;
    padding:13px;
    width:335px;
    box-sizing:border-box;
    border-radius:6px;
}
.header{
    text-align: center;
}
.subheader{
    text-align: center;
}

/*Search styles*/
#searchbox{
    /*padding:13px;*/
    width:350px;
    /*margin:100px auto;*/
    margin: auto;
    box-sizing:border-box;
    border-radius:6px;
    padding-bottom: 120px;
    /*display: none;*/
    align-content: center;
}
input[type="search"]{
    width:285px;
    height:40px;
    padding:8px;
    border-radius:6px;
    border: thin;
    /*color:#939393;*/
    font-weight:500;
    /*background-color:#fffbf8;*/
}
button[type="submit"]#searchsubmit{
    width:35px;
    height:30px;
    background-image:url(images/search-btn.png);
    background-repeat: no-repeat;
    background-position: 10px 5px;
    background-color:transparent;
    background-size:20px 20px;
    border:none;
    cursor:pointer;
}

/*login styles*/
form.loginform {
    border: 3px solid #f1f1f1;
    width: 294px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button.loginbtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button#cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
.container {
    padding: 16px;
    position: relative;
}
span.psw {
    float: right;
    padding-top: 16px;
}
#loginframe{
    border: none;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}
#logout{
    border: none;
    background: white;
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: hidden;
}
.results{
    width: 90%;
    /*border: 1px solid black;*/
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    padding: 20px;
    font-size: 14px;

}
.results th{
    padding: 3px;
    vertical-align: top;
    /*border: 1px solid black;*/
    background: #0d9117;
    color: azure;
}
.results td{
    width: 10%;
    padding: 5px;
    vertical-align: top;
}
.results td:nth-child(even) {
    background: #f7f7f7;
}
.results td:nth-child(odd) {
    background: #fdfdfd;
}

#headerbar img.logo{
    width: 100px;
    margin: 0px;
    position: absolute;
}

#headerbar h4{
    padding-left: 100px;
    position: absolute;
}

#headerbar{
    height: 50px;
    padding-top: 0px;
    position: absolute;
    top: 0;
    width: 25%;
}

#resultbody{
    padding-top: inherit;
    margin: auto;
}

#resultsearch {
    width:350px;
    margin: auto;
    box-sizing:border-box;
    border-radius:6px;
    align-content: center;
    padding-bottom: 15px;
    /*border-bottom-color: #4CAF50;*/
    /*border: #0ebe17;*/
}

#footer{
    /*position: absolute ;*/
    position: relative;
    bottom: 0px;
    padding-left: 15px;
    padding-top: 15px;
    text-decoration-line: underline;
    /*z-index: -1;*/
}

